*.DS_store*
!credenciales.json
*.json
attachments/*.png
attachments/*.jpg
emails/*.txt
*__pycache__*
test.py
!emails/list1.txt
!emails/list2.txt
!attachments/file1.png
!attachments/file2.jpg
*.csv
./AS_May_Jun
./attachments
*.txt
